spring:
  application:
    name: treinetic
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/taskmanager_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:12345}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: ${SERVER_PORT:8080}

jwt:
  secret: ${JWT_SECRET:defaultSecretKeyPleaseChangeInProduction}
  expiration: ${JWT_EXPIRATION:86400000}
